
venv/
.venv/
env/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

.env
.env.local
.env.*.local

.idea/
.vscode/
*.swp
*.swo
*~

# Node.js / React
node_modules/
package-lock.json
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

build/
dist/
*.log


.DS_Store
Thumbs.db
desktop.ini

data/*.csv
!data/payment.csv
*.ipynb_checkpoints/

.vercel
.netlify

